body{
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
}

#queryButton{
    height: 3em;
    margin: 1em auto 1em auto;
}

/* stylist for grid cobtainer consit of rows*/
#container{
    background-color: white;
    width: 600px;
    height: 600px;

    margin: auto;
    padding: 1rem;
    border: solid, 1rem, black;

    display: flex;
    flex-direction: column;
}

/* stylist for rows consit of squares*/
.rows{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

/* stylist for squares*/
.squares{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

/* hover effect method1: stylist for squares with hover*/
.withHover{
    background-color: black;
}

/* hover effect method1: stylist for squares without hover*/
.withoutHover{
    background-color: white;
}

/* hover effect method2: add ":hover" Pseudo-class */
/*
.squares:hover{
    background-color: red;
}
*/